{% extends 'base.html'%}
{% import 'bootstrap/wtf.html' as wtf%}

{% block content %}
<div class="container-fluid"> 
    <div class="row">
      <div class= "col-md-6 mt-5"> 

        <img src="https://assets.umso.co/1/online_friends_x73e.svg" alt="" width="550rem" height="300">

      </div>
      <div class="col-md-6">
      <!--Flash message -->
      {% for message in get_flashed_messages() %}
        <div class="alert alert-danger mt-5">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
        </div>
      {% endfor %}
      <!-- Login form -->
      <div class="login">
        <h1 class="text-center">Dusk</h1>
      {{wtf.quick_form(login_form)}}
      </div>
      <p> Don't have an account? <a href="{{url_for('auth.register')}}">Sign up here</a></p>
     </div>
    </div>
</div>

{% endblock%}