{% extends 'base.html' %}
{% import 'macros.html' as macro %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}


{% block content %}
<div class="container-fluid blog">
  
  <div class="blog-images">

    <img src="../static/images/group_chat_v059.svg" alt="" height="600"  class="center">

  </div>

  <!-- Will have a macro down here -->

  <div class="row">

    {{ macro.BlogsOfTheDay(blogs) }}

  </div>
</div>

{% endblock %}