{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% import 'macros.html' as macro %}

{% block content %}

<div class="container-fluid blog">
    <div class="row">
        <div class="col-md-5">
                {% if current_user.is_authenticated %}
                    {{ wtf.quick_form(com_form) }}
                {% else %}
                    <h1>SIGN IN TO MAKE A COMMENT</h1>
                {% endif %}
                <hr>
                <h1>Comments</h1>
                <hr>
              {{ macro.commentsTaken(one_com) }}
        </div >
        <div class="col-md-7">
            <h2>Circle</h2>
            <p>The .rounded-circle class shapes the image to a circle:</p>
            <img src="cinqueterre.jpg" class="rounded-circle" alt="Cinque Terre" width="304" height="236">
            <div class="center-text">
                <h1>{{ one_blog.title }}</h1>
                <div class="button d-flex">
                    <a href="{{ url_for('main.delete_blog', id = one_blog.id) }}">Delete blog</a>
                </div>
                <hr>
                <h3>By:{{ one_blog.author }}</h3>
                <p class="text-center fs-4">{{ one_blog.blog_write }}</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}